*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home{
    background-image: url(pexels-jean-van-der-meulen-1457847.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 60px center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home span{
  color: coral;
}




